@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: #222;
}

.main{
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;

    animation: ani 4s ease 1;
}

.menu{
    width: 100px;
    height: 30px;
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    padding: 0px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.active{
    width: 100px;
    height: 30px;
    background-color: green;
    position: absolute;
    top: 35px;
    left: 0px;

    /* 각도에 따라 x축에 따른 경사 변형 */
    transform: skewX(20deg);
    
    z-index: -1;

    /* all: 속성, 0.3s: 지속시간, ease-in: 속도 */
    transition: all 0.3s ease-in;
}

/* .m1{
    color: black;
} */

.logo{
    display: inline-block;
    width: 144.41px;
    height: 43px;
    color: white;
}

#Box1, #Box2, #Box3, #Box4{
    height: 100vh;
    width: 100%;
    /* text-align: center;
    font-family: arial black;
    font-size: 60px;
    line-height: 100vh; */
}
#Box1{
    background-color: black;
}
#Box2{
    background-color: black;
}
#Box3{
    background-color: black;
}
#Box4{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}


.container_01{
    position: absolute;
    /* margin: auto auto; */
    width: 80%;
    height: 800px;
    background-color: #333333;
    top: 15vh;
    left: 10%;

    overflow: hidden;
}

.container_02{
    position: absolute;
    /* margin: auto auto; */
    width: 80%;
    height: 800px;
    background-color: #333333;
    top: 115vh;
    left: 10%;

    overflow: hidden;
}

.container_03{
    position: absolute;
    /* margin: auto auto; */
    width: 80%;
    height: 800px;
    background-color: #333333;
    top: 215vh;
    left: 10%;

    overflow: hidden;
}
.container_04{
    position: absolute;
    /* margin: auto auto; */
    width: 80%;
    height: 800px;
    background-color: #333333;
    top: 315vh;
    left: 10%;

    overflow: hidden;
}

.img_01{
    position: relative;
    left: 10%;
    top: 7%;
    width:40%;
    height: 700px;
    background-image: url("images/img_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    float:left;
}
.img_02{
    position: relative;
    left: 10%;
    top: 7%;
    width:40%;
    height: 700px;
    background-image: url("images/img_02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    float:left;
}
.img_03{
    position: relative;
    left: 10%;
    top: 7%;
    width:40%;
    height: 700px;
    background-image: url("images/img_03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    float:left;
}
.img_04{
    position: relative;
    left: 10%;
    top: 7%;
    width:40%;
    height: 700px;
    background-image: url("images/img_04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    float:left;
}

.text{
    color: white;
    position: relative;
    right: 5%;
    top: 7%;

    width: 40%;
    height: 700px;

    float: right;
}

.text h1{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 70px;
}

.text p{
    font-family: 'Jua', sans-serif;
    font-size: 18px;
}

/* menu bar 애니메이션 */
@keyframes ani{
    from{
        top: -70px;
    }
    to{
        top: 70px;
    }
}