* {
    margin: 0;
    padding: 0;
    font-family: '맑은 고딕', 'Malgun Gothic', 'sans-serif';
}

a { text-decoration: none;}
img {border: 0;}
li { list-style: none;}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#main-header {
    padding: 10px 5px;
}
#main-header h1 {
    font-size: 20px;
    font-weight: normal;
    line-height: 27px;
    color: #222;
}

#main-header ul {
    margin-top: 20px;
    margin-bottom: 10px
}

#main-header li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-header li a {
    color : #555;
}

#main-header li.active a {
    color: black;
    font-weight: 500;
}

#main-header label {
    text-align: center;
    float: right;
    width: 40px;
    height: 27px;
    line-height: 27px;
    color: #222;
    border: 1px solid #222;
    border-radius: 5px;
}

#checkbox {
    display: none;
}

#checkbox + nav {
    display: block;
}

#checkbox:checked + nav {
    display: none;
}

#main-content {
    
    background: #00afa0;
    padding: 40px 15px 30px;
}
#main-content img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 10px auto;
}

#main-content h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-weight: 500;
}

#main-content p {
    color: #222;
    text-align: center;
    color: white;
}

#sub-content {
    padding-top: 30px;
}

#sub-content h1 {
    text-align: center;
    color: #333;
}
#sub-content h2 {
    text-align: center;
    color: #333;
    font-size: 17px;
}

#sub-content p {
    color: #555;
}

#sub-content img {
    width: 200px;
    display: block;
    margin: 10px auto;
}
#main-footer {
    padding-top: 40px;
}
footer {
    background: #323232;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
}
